.navbar{
    
    background-color:#00000015 !important;
  }
  .navbar-nav li
    {
     padding:  10px;
     }
   .navbar-nav li a
  {
    color: #fff!important;
    font-weight: 600;
    font-size: 15px;
   }